<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="tests/bootstrap.php" stopOnError="true">

    <php>
        <env name="APP_ENV" value="test" force="true" />
        <env name="DB_HOST" value="localhost" force="true" />
    </php>

    <testsuites>
        <testsuite name="Tests">
            <directory>tests</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>tests/integration</directory>
        </testsuite>
    </testsuites>

    <groups>
        <exclude>
            <group>external</group>
        </exclude>
    </groups>

    <coverage cacheDirectory=".phpunit.cache/code-coverage"
              processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </coverage>
</phpunit>